.content {
    padding: 20px;
    position: absolute;
    width: 100%;
}

.content .slides .input-container {
    margin-left: 8px;
    position: absolute;
    bottom: 0;
    width: 190px;
    justify-content: space-evenly;
    display: flex;
    margin-left: 8vw;
}

.content .slides .input-container .input-slide {
    cursor: pointer;
}

.content .slides .slide {
    background-color: #b8a988;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 100%;
}

.content img {
    border-radius: 20px;
    box-shadow: rgba(231, 175, 32, 0.4) 5px 5px, 
            rgba(211, 157, 20, 0.3) 10px 10px, 
            rgba(148, 109, 11, 0.2) 15px 15px, 
            rgba(145, 124, 69, 0.1) 20px 20px, 
            rgba(88, 65, 7, 0.05) 25px 25px;
}

.content span {
    vertical-align: top;
}

.content .slides .slide .title{
    font-size: 30px;
    vertical-align: top;
    margin-right: 20vw;
    font-family: "Josefin Sans", sans-serif;
    width: 400px;
    padding: 20px;
}
