body {
    margin: 0;
}

/* estilizacao: header */
.header {
    background-color: #e9edf8;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

.header .links {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header .links .contact, .about {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 800;
    color: black;
    text-decoration: none;
}

.header .links .homepage {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 800;
    color: #e09a30;
    text-decoration: none;
}

.header .input-container {
    margin: 0;
    background-color: white;
    padding: 8px;
    margin-right: 40px;
}

.header .login span {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 800;
    color: black;
    text-decoration: none;
}

.header .input input {
    border: none;
    outline: none;
    padding: 6px;
    width: 300px;
    align-items: center;
    margin-left: 15px;
}

.fa-search:before {
    content: "\f002";
    color: white;
    padding: 8px 20px;
    border-radius: 10px;
    background-color: black;
    cursor: pointer;
}

.header .fontawesomesvg {
    width: 2em;
    height: 1.2em;
    vertical-align: -.125em;
    margin-right: 7px;
    cursor: pointer;
    
}

.header .icons-options {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 1px;
}

.header .login {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;
}

.login span {
    margin-right: 40px;
    cursor: pointer;
}

/* estilizacao: conteudo principal */

.main-content {
    background-color: #e9edf8;
}

.main-content .main-title {
    background-color: #e9edf8;
    padding: 60px;
    width: 40vw;
    margin-left: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-content .main-title .first-text {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    white-space: nowrap;
}

.main-content .main-title .second-text {
    font-family: "JetBrains Mono", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 21px;
}

.main-content .main-title hr {
    width: 40%;
    margin-left: 0;
    border-color: black;
    position: relative;
    overflow: visible;
}

.main-content .main-title h1 {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 40;
    font-style: normal;
    font-size: 61px;
}

.main-content button {
    background-color: #e09a30;
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
}

.main-content img {
    width: 30vw;
    margin-top: 90px;
    margin-left: 20vw;
    position: absolute;
}

/* estilizacao: texto ao lado da imagem */

.main-content .img-side-text .side-text {
    position: absolute;
    color: black;
    top: 0;
    margin-top: 200px;
}

.main-content .img-side-text .side-text .first-side-text {
    font-size: 50px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin-left: 70px;
    margin-top: 0;
}

.main-content .img-side-text .side-text .second-side-text {
    font-size: 30px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin-left: 70px;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.retro-pc {
    animation: slideInFromLeft 1s ease-out;
}

/* estilizacao: categorias */

.img-categories .images .carousel {
    margin-top: 200px;
    position: relative;
    width: 70vw;
    overflow: hidden;
}

.img-categories .images .carousel .carousel-items {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.img-categories .images .carousel img {
    max-width: 400px; /* largura de cada item */
    cursor: grab;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

/* teste acima */

.img-categories .images{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.categories .text-categories {
    margin-top: 90px;
    padding: 8vw;
    white-space: nowrap;
}

.categories .text-categories span{
    font-family: "Oswald", sans-serif;
    font-size: 27px;
}

.categories .text-categories hr {
    width: 44.5%;
    margin-left: 0;
    border-color: #e09a30;
    border-top: 2px solid #e09a30;
    border-left: 2px solid #e09a30;
    border-right: 2px solid #e09a30;
}

.categories .fontawesomesvg {
    width: 2em;
    height: 2em;
    vertical-align: -.125em;
    margin-right: 7px;
    cursor: pointer;
    margin-top: 10px;
}

.categories .text-categories .text-subtitle {
    font-size: 18px;
    color: black;
    opacity: 50%;
    vertical-align: .400em;
}

.categories .text-categories .categories-link {
    text-decoration: underline;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.categories {
    display: flex;
}

.text-categories {
    width: 15%;
}


/* .img-categories .images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-top: 20vh;
}

.images:first-child {
    margin-left: 50px;
}

.img-categories img {
    width: 300px;
} */

.img-categories .categories-name {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    
}

.img-categories .categories-name span {
    font-family: "JetBrains Mono", sans-serif;
    font-weight: 700;
    margin-right: 10vw;
    margin-top: 0;
}

.img-categories .categories-name span:nth-child(1){
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    font-size: 25px;
    margin-left: 5vw;
    background-color: #e09a30;
    padding: 10px;
    align-items: center;
    display: flex;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.img-categories .categories-name span:nth-child(2){
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    font-size: 25px;
    margin-right: 8vw;
    background-color: #e09a30;
    padding: 10px;
    align-items: center;
    display: flex;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.img-categories .categories-name span:nth-child(3){
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    font-size: 25px;
    margin-right: 12vw;
    background-color: #e09a30;
    padding: 10px;
    align-items: center;
    display: flex;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.img-categories .images .fontawesomesvg {
    width: 30px;
    margin-right: 7px;
    cursor: pointer;
    background-color: gray;
    border-radius: 100%;
    padding: 20px;
}

/* estilizacao: imagens de exemplo */

.examples {
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
}

.images-examples img {
    width: 700px;
    height: 700px;
    margin: 20px;
    border-radius: 10px;
}

.images-examples img:hover {
    transform: scale(1.1);
}

.text-examples span{
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 600;
    font-size: 25px;
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}

.footer {
    margin-top: 40px;
    background-color: #e9edf8;
    margin: 0;
    display: relative;
    padding: 20px;
}

.footer .footer-texts {
    margin-top: 25px;
    margin-left: 41vw;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(141, 141, 141);
}
